/* Header.css */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background-color: #022c22;
}

/* Spacer to prevent content from hiding behind fixed navbar */
.header__spacer {
  height: 80px;
  width: 100%;
}

@media (max-width: 480px) {
  .header__spacer {
    height: 70px;
  }
}

/* Optional: Page content styling */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #022c22;
  color: #f5e6d3;
}

* {
  box-sizing: border-box;
}